In [37]:
import pandas as pd

In [38]:
df = pd.read_csv('../Data/Compras/dados_sinteticos.csv')

In [39]:
df.head()

,id,data,hora,cliente,produto,valor,quantidade,total,status,cidade,...,vendedor,categoria,marca,modelo,cor,tamanho,peso,altura,largura,comprimento
0,1,2015-11-11,12:43:08,Maycon Demarque,Raquete Puma,44.32,5,221.60,aguardando pagamento,Cidade,...,Loja 2,lazer,Puma,Raquete,NaN,,66.96,9.54,80.58,92.98
1,2,2016-05-25,21:41:26,Davi Demarque,Sabonete O Boticário,37.36,5,186.80,em trânsito,Cidade,...,Loja 1,saúde,O Boticário,Sabonete,NaN,,15.33,58.41,80.00,98.89
2,3,2017-05-21,13:28:16,Gabriel Lima,Carrinho Petland,169.08,6,1014.48,entregue,Cidade,...,Loja 2,brinquedos,Petland,Carrinho,NaN,,15.87,99.31,74.44,47.63
3,4,2015-11-06,03:39:57,Júlio Massi,Bicicleta Converse,165.26,10,1652.60,em separação,Cidade,...,Loja 2,esportes,Converse,Bicicleta,NaN,,10.73,18.42,93.89,57.86
4,5,2019-06-28,14:22:59,Wemerson Costa,Doce Coca-Cola,257.12,5,1285.60,em separação,Cidade,...,Loja 1,alimentos,Coca-Cola,Doce,NaN,,47.73,82.22,7.96,13.10

In [40]:
# Realizando a contagem de valores únicos
df['produto'].value_counts()

produto
Espumante Heineken        185
Champanhe Heineken        183
Água Pepsi                183
Suco Coca-Cola            183
Vinho Ambev               177
                         ...
Fantasia Cromus            14
Batedeira Cuisinart        14
Duplex Black & Decker      13
régua Extra                12
Cadeira Móveis Poquema      8
Name: count, Length: 1080, dtype: int64

In [41]:
df['cliente'].value_counts()

cliente
Sergio Nápoles      251
Maycon Rodrigues    245
Daniel Neto         243
Gustavo Costa       243
Vanessa Soares      241
                   ...
Otávio Costa        179
Sávio Oliveira      176
Gustavo Nápoles     175
Maycon Neto         170
Sávio Santos        162
Name: count, Length: 238, dtype: int64

In [42]:
df.groupby('categoria')['produto'].value_counts()

categoria   produto
acessórios  Mochila Puma       69
            Bolsa Puma         68
            Carteira Nike      65
            Boné Oakley        62
            Mochila Adidas     62
                               ..
saúde       Shampoo Eudora     20
            Perfume Jequiti    19
            Creme Mary Kay     18
            Shampoo Jequiti    18
            Perfume Natura     15
Name: count, Length: 1426, dtype: int64

In [47]:
#criando um novo dataframe apenas com os produtos do dataset e sua categoria
df_produtos = df[['produto', 'categoria']].drop_duplicates()
df_produtos.head()

                produto   categoria
0          Raquete Puma       lazer
1  Sabonete O Boticário       saúde
2      Carrinho Petland  brinquedos
3    Bicicleta Converse    esportes
4        Doce Coca-Cola   alimentos

In [48]:
#imprimindo todas categorias geradas
df_produtos['categoria'].unique()

array(['lazer', 'saúde', 'brinquedos', 'esportes', 'alimentos', 'móveis',
       'petshop', 'acessórios', 'casa', 'automotivo', 'papelaria',
       'eletrônicos', 'livros', 'bebidas', 'artigos para festas',
       'informática', 'roupas', 'beleza', 'calçados'], dtype=object)

In [49]:
#Criando uma coluna valores de cada produto com valores aleatórios de acordo com a categoria
# Categorias: ['lazer', 'saúde', 'brinquedos', 'esportes', 'alimentos', 'móveis',
    #    'petshop', 'acessórios', 'casa', 'automotivo', 'papelaria',
    #    'eletrônicos', 'livros', 'bebidas', 'artigos para festas',
    #    'informática', 'roupas', 'beleza', 'calçados']
import random
import numpy as np
df_produtos['valor'] = np.nan
for i in range(len(df_produtos)):
    if df_produtos['categoria'].iloc[i] == 'lazer':
        df_produtos['valor'].iloc[i] = random.uniform(10, 100)
    elif df_produtos['categoria'].iloc[i] == 'saúde':
        df_produtos['valor'].iloc[i] = random.uniform(5, 50)
    elif df_produtos['categoria'].iloc[i] == 'brinquedos':
        df_produtos['valor'].iloc[i] = random.uniform(10, 100)
    elif df_produtos['categoria'].iloc[i] == 'esportes':
        df_produtos['valor'].iloc[i] = random.uniform(20, 200)
    elif df_produtos['categoria'].iloc[i] == 'alimentos':
        df_produtos['valor'].iloc[i] = random.uniform(1, 10)
    elif df_produtos['categoria'].iloc[i] == 'móveis':
        df_produtos['valor'].iloc[i] = random.uniform(50, 500)
    elif df_produtos['categoria'].iloc[i] == 'petshop':
        df_produtos['valor'].iloc[i] = random.uniform(5, 50)
    elif df_produtos['categoria'].iloc[i] == 'acessórios':
        df_produtos['valor'].iloc[i] = random.uniform(5, 50)
    elif df_produtos['categoria'].iloc[i] == 'casa':
        df_produtos['valor'].iloc[i] = random.uniform(50, 500)
    elif df_produtos['categoria'].iloc[i] == 'automotivo':
        df_produtos['valor'].iloc[i] = random.uniform(50, 500)
    elif df_produtos['categoria'].iloc[i] == 'papelaria':
        df_produtos['valor'].iloc[i] = random.uniform(5, 50)
    elif df_produtos['categoria'].iloc[i] == 'eletrônicos':
        df_produtos['valor'].iloc[i] = random.uniform(100, 1000)
    elif df_produtos['categoria'].iloc[i] == 'livros':
        df_produtos['valor'].iloc[i] = random.uniform(5, 50)
    elif df_produtos['categoria'].iloc[i] == 'bebidas':
        df_produtos['valor'].iloc[i] = random.uniform(1, 10)
    elif df_produtos['categoria'].iloc[i] == 'artigos para festas':
        df_produtos['valor'].iloc[i] = random.uniform(5, 50)
    elif df_produtos['categoria'].iloc[i] == 'informática':
        df_produtos['valor'].iloc[i] = random.uniform(100, 1000)
    elif df_produtos['categoria'].iloc[i] == 'roupas':
        df_produtos['valor'].iloc[i] = random.uniform(10, 100)
    elif df_produtos['categoria'].iloc[i] == 'beleza':
        df_produtos['valor'].iloc[i] = random.uniform(5, 50)
    elif df_produtos['categoria'].iloc[i] == 'calçados':
        df_produtos['valor'].iloc[i] = random.uniform(10, 100)
    else:
        df_produtos['valor'].iloc[i] = random.uniform(1, 1000)